@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Font */
:root {
  --font-space-mono: "Space Mono", monospace;
  --font-inter: "Inter", sans-serif;
  --font-eb-garamond: "EB Garamond", serif;
}

.font-space {
  font-family: var(--font-space-mono);
}
.font-inter {
  font-family: var(--font-inter);
}
.font-ebgaramond {
  font-family: var(--font-eb-garamond);
}
